<div class="block" style="background-color: white;">
  <div class="w-full pokemon-container">
    <section class="local-grid py-8 px-4">
      <div class="card" *ngFor="let item of pokemonDataFiltered.slice(start, size); index as idx"
        (click)="showPokemonDetail(item)">
        <img class="rounded-lg" style="background-color: #ebecf0;" src="{{ item.image }}" alt="{{ item.name }}">
        <div class="info -mt-4">
          <span class="text-sm font-archivo text-gray-400">#{{ item.id }}</span>
          <p class="antialised text-xl font-semibold tracking-normal">{{ item.name[0].toUpperCase() + item.name.slice(1)
            }}</p>
          <div class="flex">
            <div *ngFor="let type of item.types" class="mr-2">
              <span
                class="font-archivo rounded-full focus:outline-none focus:ring-0 px-3 py-1 text-xs font-normal tracking-normal {{ type }}">{{
                type.slice(0,1).toUpperCase() + type.slice(1) }}</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="mx-auto w-auto" style="width: 180px;">
      <button (click)="showResume()" type="button" class="antialised text-lg font-semibold tracking-normal px-8 py-4 bg-slate-300 rounded-lg w-auto">
        <span>{{ show ? 'Hide Resume' : 'Show Resume' }}</span>
      </button>
    </div>

    <div *ngIf="show" class="mt-8 w-10/12 xl:!w-2/3 h-auto mx-auto rounded-xl p-8" style="background-color: #fefdfe;">
      <h3 class="flex items-center pb-2" style="border-bottom: 1px solid #dedede;">
        <img class="h-6 w-6" style="color: black;" src="https://res.cloudinary.com/freecode-design/image/upload/v1674319851/pokedex-icon-black_o5zphn.png" alt="">
        <div class="ml-3">
          <p class="font-normal tracking-tight text-lg">Resume</p>
        </div>
      </h3>

      <div class="flex flex-col mt-2">
        <p class="uppercase text-sm font-semibold text-gray-700 mt-2" *ngFor="let item of letters">Pokémon that start with the letter {{ item.letter }} : {{ item.count }}</p>
      </div>
    </div>

    <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="pokemonData.length" [pageSize]="size"
      [disabled]="disabled" [showFirstLastButtons]="true" [pageSizeOptions]="pageSizeOptions ? pageSizeOptions : []"
      [hidePageSize]="false" [pageIndex]="pageIndex" aria-label="Select page">
    </mat-paginator>
  </div>
</div>
