.local-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1rem;

  .card {
    cursor: pointer;
    transition: transform 0.1s;

    &:hover {
      transform: translateY(-5px);
    }

    img {
      width: 100%;
    }

    .info {
      padding: 1rem;
    }
  }
}
